<nav class="bg-white shadow-sm relative z-10 mt-4 md:mt-[25px]">

  <div class="max-w-[1440px] mx-auto px-4 md:px-6 h-[40px] md:h-[90px] flex items-center justify-between">
    
    <!-- LEFT -->
    <div class="flex items-center">
      <img src="images/lil-c.png" class="h-20 md:h-40 object-contain">
    </div>

    <!-- CENTER (DESKTOP ONLY) -->
    <div class="hidden md:flex gap-10 text-gray-700 text-[15px] font-medium">
      <a routerLink="/" class="hover:text-pink-400 transition">Home</a>
      <a routerLink="/category/Baby Beds" class="hover:text-pink-400 transition">Beds</a>
      <a routerLink="/category/Cradle Sets" class="hover:text-pink-400 transition">Cradles</a>
      <a routerLink="/category/Accessories" class="hover:text-pink-400 transition">Accessories</a>
    </div>

    <!-- RIGHT -->
    <div class="flex items-center gap-3 md:gap-6">

      <!-- Search (hidden on small) -->
      <div class="hidden sm:flex items-center border border-gray-300 rounded-full px-3 py-1 md:px-4 md:py-2">
        <input 
          type="text" 
          placeholder="Search" 
          class="outline-none text-sm px-2 w-24 md:w-40"
        />
        <lucide-icon [img]="icons.search" class="w-4 h-4 text-gray-600"></lucide-icon>
      </div>

      <!-- Cart -->
      <div class="relative cursor-pointer">
        <lucide-icon [img]="icons.cart" class="w-5 h-5 text-gray-700"></lucide-icon>
        <span class="absolute -top-2 -right-2 bg-yellow-400 text-[10px] px-1 rounded-full">1</span>
      </div>

      <!-- MOBILE MENU BUTTON -->
      <app-mobile-menubar/>

    </div>

  </div>

 
</nav>