<div *ngIf="!isAdmin">
  <div class="hidden md:block">
    <app-top-bar></app-top-bar>
  </div>
  <app-navbar></app-navbar>
</div>

<main class="bg-[#ffffff] min-h-screen">
  <router-outlet/>
</main>

<app-footer *ngIf="!isAdmin"></app-footer>

<app-toast-container></app-toast-container>

<!-- SCROLL TO TOP FAB -->
<button 
  *ngIf="showScrollTop" 
  (click)="scrollToTop()"
  class="fixed bottom-6 right-6 z-50 bg-[#0F83B2] text-white p-3 rounded-full shadow-xl hover:bg-sky-600 hover:-translate-y-1 hover:shadow-2xl transition-all duration-300 pointer-events-auto">
  <lucide-icon [img]="iconUp" class="w-6 h-6"></lucide-icon>
</button>
