<div *ngIf="isReady">

  <!-- MOBILE MENU BUTTON -->
<button (click)="toggleMenu()" class="md:hidden relative z-50">
  <lucide-icon 
    [img]="isMenuOpen ? icons.close : icons.menu" 
    class="w-6 h-6 transition-all duration-300">
  </lucide-icon>
</button>

<!-- BACKDROP -->
<div 
  *ngIf="isMenuOpen" 
  (click)="toggleMenu()"
  class="fixed inset-0 bg-black/40 backdrop-blur-sm z-40">
</div>

<!-- SIDE MENU -->
<div 
  class="fixed top-0 right-0 h-full w-[80%] max-w-[320px] bg-white z-50 transform transition-transform duration-300 ease-in-out shadow-xl rounded-l-2xl overflow-hidden"
  [class.translate-x-0]="isMenuOpen"
  [class.translate-x-full]="!isMenuOpen"
>

  <!-- HEADER -->
  <div class="bg-[#0F83B2] text-white  pt-1 pb-12 px-2 relative">

   

    <!-- Wave -->
   <!-- SCALLOP WAVE -->
<div class="absolute -bottom-5 left-0 w-full overflow-hidden leading-none">
  
  <svg viewBox="0 0 1200 60" class="w-full h-8">
    
    <path 
      d="
        M0,0 
        L0,30 
        Q30,60 60,30 
        T120,30 
        T180,30 
        T240,30 
        T300,30 
        T360,30 
        T420,30 
        T480,30 
        T540,30 
        T600,30 
        T660,30 
        T720,30 
        T780,30 
        T840,30 
        T900,30 
        T960,30 
        T1020,30 
        T1080,30 
        T1140,30 
        T1200,30 
        L1200,0 
        Z
      "
      fill="#0F83B2"
    />

  </svg>

</div>
  </div>

  <!-- MENU ITEMS -->
  <div class="p-6 space-y-6 text-gray-700 text-[16px] font-medium mt-2">

    <a routerLink="/" (click)="toggleMenu()" 
       class="block hover:text-[#0F83B2] active:scale-95 transition">
      Home
    </a>

    <a routerLink="/category/Baby Beds" (click)="toggleMenu()" 
       class="block hover:text-[#0F83B2] active:scale-95 transition">
      Beds
    </a>

    <a routerLink="/category/Cradle Sets" (click)="toggleMenu()" 
       class="block hover:text-[#0F83B2] active:scale-95 transition">
      Cradles
    </a>

    <a routerLink="/category/Accessories" (click)="toggleMenu()" 
       class="block hover:text-[#0F83B2] active:scale-95 transition">
      Accessories
    </a>

  </div>

  <!-- DIVIDER -->
  <div class="border-t mx-6"></div>

  <!-- AUTH SECTION -->
  <div class="p-6 space-y-3">

    <button class="w-full border border-[#0F83B2] text-[#0F83B2] py-2.5 rounded-full font-medium hover:bg-[#0F83B2] hover:text-white transition">
      Login
    </button>

    <button class="w-full bg-[#0F83B2] text-white py-2.5 rounded-full font-medium hover:bg-[#0c6b91] transition">
      Register
    </button>

  </div>

</div>

</div>