<section class="w-full bg-[#0F83B2] py-10 mt-12 mb-12">
  <div class="w-full max-w-[1200px] mx-auto px-4 md:px-6">
    <div class="grid grid-cols-2 lg:grid-cols-4 gap-8 md:gap-4 text-white text-center divide-x-0 lg:divide-x divide-white/20">
      
      <div *ngFor="let f of features" class="flex flex-col items-center justify-center px-4">
        <div class="w-12 h-12 bg-white/20 rounded-full flex items-center justify-center mb-4" [innerHTML]="sanitizer.bypassSecurityTrustHtml(f.iconSvg)">
        </div>
        <h4 class="font-semibold text-lg mb-1">{{ f.title }}</h4>
        <p class="text-xs text-white/80">{{ f.sub }}</p>
      </div>

    </div>
  </div>
</section>
