/* style.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color-primary: #ff4800;
}

/* Optional: create utility classes */
.text-primary {
  color: var(--color-primary);
}

.bg-top-primary {
  background-color: var(--color-primary);
}
