<div class="bg-[#0F83B2] text-white py-1 relative">
  <div class="max-w-[1440px] mx-auto flex justify-end items-center px-6 py-2 text-sm">
    <div class="space-x-4">
      
      <!-- Public / Not Logged In -->
      <ng-container *ngIf="!auth.isAdmin() && !auth.isLoggedUser()">
        <a routerLink="/login" class="hover:text-gray-200 transition font-medium">Login / Register</a>
      </ng-container>

      <!-- Logged in as User -->
      <ng-container *ngIf="auth.isLoggedUser()">
        <span class="font-bold">Welcome, Shopper!</span>
        <button (click)="logout()" class="hover:text-gray-200 transition opacity-80 pl-2">Logout</button>
      </ng-container>

      <!-- Logged in as Admin -->
      <ng-container *ngIf="auth.isAdmin()">
        <a routerLink="/admin/dashboard" class="font-bold hover:text-gray-200 transition">⚙️ Admin Dashboard</a>
        <button (click)="logout()" class="hover:text-gray-200 transition opacity-80 pl-2">Logout</button>
      </ng-container>

    </div>

  <!-- Wave -->
  <div class="absolute -bottom-4 left-0 w-full overflow-hidden leading-none">
    <svg viewBox="0 0 500 50" preserveAspectRatio="none" class="w-full h-6">
      <path 
        d="M0,30 
           Q25,50 50,30 
           T100,30 
           T150,30 
           T200,30 
           T250,30 
           T300,30 
           T350,30 
           T400,30 
           T450,30 
           T500,30 
           L500,0 L0,0 Z" 
        class="fill-[#0F83B2]">
      </path>
    </svg>
  </div>

</div>